{% extends "layout.html" %}
{% block title %}History{% endblock %}

{% block body %}
    <h2 class="center">History</h2>
    <br>
    <div class="tab">
        {% for text in texts %}
            <button class="tablinks" onclick="openText(event, '{{ text[2] }}')" id="{% if loop.first %}defaultOpen{% endif %}" >{{ text[2] }}</button>
        {% endfor %}
    </div>

    {% for text in texts %}
    <div id='{{ text[2] }}' class="tabcontent">
        <h3>{{ text[2] }}</h3>
        <span>Original Text</span>
        <p>{{ text[3] }}</p>
        <br>
        <span>Rewrited Text</span>
        <p>{{ text[4] }}</p>
    </div>
    {% endfor %}

{% endblock %}