{% extends "layout.html" %}
{% block title %}History{% endblock %}

{% block body %}
    <h2 class="center">History</h2>
    <form action="">
        <input class="inputField" type="text" placeholder="Word" name="word">
        <input class="inputField larger" type="text" placeholder="Type" name="type">
        <input class="button" type="submit" value="Add">
    </form>
    <table>
        <tr>
            <th id="tb_name">Name</th>
            <th id="tb_created">Created</th>
            <th id="tb_level">Level</th>
        </tr>
        {% for text in texts %}
        <tr>
            <td>{{ text.name }}</td>
            <td>{{ text.date }}</td>
            <td>{{ text.level }}</td>
        </tr>
        {% endfor %}
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}