{% extends "layout.html" %}
{% block title %}History{% endblock %}

{% block body %}
    <div class="center">
        <h2>History</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Level</th>
            </tr>
            {% for text in texts %}
                <tr>
                    <td>{{ text.name }}</td>
                    <td>{{ text.date }}</td>
                    <td>{{ text.level }}</td>
                </tr>
            {% endfor %}
        </table>       
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}