<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <title>Rewrited: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav>
            {% if session["user_id"] %}
                <ul>
                    <li class="padTitle"><a href="/" class="title">ReWrited</a></li>
                    <li class="right"><a href="/logout">Log Out</a></li>
                    <li class="right"><a href="/">Profile</a></li>
                    <li class="right"><a href="/vocabulary">Vocabulary</a></li>
                    <li class="right"><a href="/write">Write</a></li>
                </ul>
            {% else %}
            <ul>
                <li class="padTitle"><a href="/" class="title">ReWrited</a></li>
                <li class="right"><a href="/login">Log In</a></li>
                <li class="right"><a href="/register">Register</a></li>
            </ul>            
            {% endif %}
        </nav>

        <main>
            {% block body %}
            {% endblock %}
        </main>


    </body>
</html>
