{% extends "layout.html" %}
{% block title %}Vocabulary{% endblock %}

{% block body %}
<div class="center">
    <h2>Vocabulary</h2>
    <form class="centerDiv" action="vocabulary" method="post">
        <input class="inputField" type="text" placeholder="Word" name="word">
        <input class="inputField" type="text" placeholder="Type" name="type">
        <input class="button" type="submit" value="Add">
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" id="tb_name">Word</th>
                <th scope="col" id="tb_created">Type</th>
                <th scope="col" id="tb_level">Level</th>
                <th scope="col" id="tb_level"></th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
            <tr>
                <td scope="row">{{ word[3] }}</td>
                <td>{{ word[2] }}</td>
                <td>{{ word[4] }}</td>
                <td>
                    <i class="bi bi-trash3"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}