{% extends "layout.html" %}
{% block title %}Write{% endblock %}

{% block body %}
<div>
    <h2 class="center">Write text</h2>

    <form action="/write" class="form_write center" method="post">
        <div>
            <label for="username">Title</label><br>
            <input class="inputField larger" autocomplete="off" name="title" placeholder="Title" type="text">
        </div>
        <div class="row">
            <div class="col-6">
                {% if text %}
                    <label for="givenText">Your Text</label><br>
                    <textarea name="givenText" id="givenText" rows="15" cols="50" placeholder="Write your text here.">  {{ text }} </textarea>
                {% else %}
                    <label for="givenText">Your Text</label><br>
                    <textarea name="givenText" id="givenText" rows="15" cols="50" placeholder="Write your text here."></textarea>
                {% endif %}
                
            </div>
            <div class="col-6">
                {% if newText %}
                    <label for="changedText">New Text</label><br>
                    <textarea name="message" id="changedText" rows="15" cols="50"> {{ newText }} </textarea>
                {% else %}
                    <label for="changedText">New Text</label><br>
                    <textarea name="message" id="changedText" rows="15" cols="50"></textarea>
                {% endif %}
                
            </div>
        </div>
        <input class="button" type="submit" value="Submit">
        
    </form>
</div>


{% endblock %}