{% extends "layout.html" %}
{% block title %}Log in{% endblock %}

{% block body %}
    <div class="center">
        <h2>Log in</h2>
        <form action="/login" method="post" class="center">
            <div>
                <label id="username">Username</label><br>
                <input class="inputField" autocomplete="off" name="username" placeholder="Username" type="text">
            </div>
            <div>
                <label id="password">Password</label><br>
                <input class="inputField" name="password" placeholder="Password" type="password">
            </div>
            <input class="button" type="submit" value="Log in">
        </form>        
    </div>

{% endblock %}