{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block body %}
    <div class="center">
        <h2>Register</h2>
        <form action="/register" method="post" class="center">
            <div>
                <label id="username">Username</label><br>
                <input class="inputField" autocomplete="off" name="username" placeholder="Username" type="text">
            </div>
            <div>
                <label id="password">Password</label><br>
                <input class="inputField" name="password" placeholder="Password" type="password">
            </div>
            <div>
                <label id="confirmation">Repeat password</label><br>
                <input class="inputField" name="confirmation" placeholder="Confirm password" type="password">
            </div>
            <input class="button" type="submit" value="Register">
        </form>
    </div>

{% endblock %}